*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: #b7c4f3;
}

.notification
{
    position: relative;
    display: inline-block;
    max-width: 300px;
    padding: 20px 15px;
    background-color: #141619;
    border-radius: 4px;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0,0,0,.5);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards infinite; 
}

@keyframes fade{
    5%
    {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

    90%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    95%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-30px);
    }
    
}